<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать пользователя</title>
</head>
<body>
<h1>Редактировать пользователя</h1>

<form th:action="@{/admin/users/${user.id}}" th:object="${user}" method="post">
    Имя: <input type="text" th:field="*{name}"/><br/>
    Возраст: <input type="number" th:field="*{age}"/><br/>

    <div>
        <p>Роли:</p>
        <div th:each="role : ${allRoles}">
            <input type="checkbox" th:field="*{roles}" th:value="${role.id}"/>
            <label th:text="${role.name}"></label>
        </div>
    </div>
    <button type="submit">Сохранить роль</button>
</form>

<a href="/admin/users">Назад к списку</a>
</body>
</html>